@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
    margin: 0;
}

.form-error {
    font-size: 14px;
    color: red;
}